<footer class="post-info">
        <abbr class="published" title="{{ article.date.isoformat() }}">
                Published: {{ article.locale_date }}
        </abbr>
        {% if article.modified %}
		<br />
        <abbr class="modified" title="{{ article.modified.isoformat() }}">
                Updated: {{ article.locale_modified }}
        </abbr>
        {% endif %}

        {% if article.authors %}
        <address class="vcard author">
                By {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {% endfor %}
        </address>
        {% endif %}
                
	<p><div class="social">In <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> 
	    {% if CATEGORY_FEED_ATOM %}
	    <a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=article.category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed">....</a>
            {% endif %}
	</div>
</p>
{% include 'taglist.html' %}
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
</footer><!-- /.post-info -->
